* {
  margin: 0;
  padding: 0;
}

nav {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272822;
  color: white;
  height: 72px;
}

.content {
  font-family: "Potta One", cursive;
}

.container {
  /* background-color: red; */
  width: 70vw;
  padding: 20px 0;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.section {
  width: 50vw;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.toolbar-item button {
  cursor: pointer !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 15px !important;
  padding: 5px 14px !important;
}

h1 {
  font-size: 28px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 500px) {
  .container {
    /* background-color: red; */
    width: 85vw;
  }

  h1 {
    font-size: 20px;
  }
}
